<a href="https://colab.research.google.com/github/AbrarAmiya/Data-Structure/blob/main/Lab_06_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1(a)

def factorial(n):
  if n==0:
    return 1
  return n*factorial(n-1)

n=int(input("enter: "))
print(factorial(n))

enter: 3
6

In [2]:
# 1(b)

def fibo(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibo(n-1)+fibo(n-2)
n=int(input("enter: "))
print(fibo(n))

enter: 4
3

In [3]:
# 1(c)

def printarray(a,idx):
  if idx<len(a):
    print(a[idx])
    printarray(a,idx+1)
printarray([10,20,30,40,50],0)

10
20
30
40
50

In [4]:
# 1(d)

def power(n,p):
  if p==0:
    return 1 
  return n*power(n,p-1)
power(3,2)

9

In [5]:
# 2(a)

def dectobin(n):
  rem=n%2
  if n>0:
    dectobin(n//2)
    print(rem,end="")
n=int(input("enter: "))
dectobin(n)

enter: 4
100

In [9]:
# 2(b and c)
class Node:
  def __init__(self, e, n):
    self.element = e
    self.next = n
class LinkedList:
  
  def __init__(self, a):
    self.head = Node(None,None)
    if type(a)==list:
      self.head=Node(a[0],None)
      tail=self.head
      for i in range(1,len(a)):
        newNode=Node(a[i],None)
        tail.next=newNode
        tail=tail.next
    else:
      self.head=a
# 2(b)
def addfull(k):
  if k==None:
    return 0
  return k.element+addfull(k.next)

# 2(c)
def reverse(j):
  if j.next==None:
    print (j.element)
    return
  elif j.next!=None:
      reverse(j.next)
      print(j.element)

print("answer b: \n")
l=LinkedList([10,20,30,40])
print(addfull(l.head))
print()
print("answer c: \n")
revH=reverse(l.head)
R=LinkedList(revH)

answer b:

100

answer c:

40
30
20
10

In [7]:
# 3

def hocBuilder(height): 
  if height==0:
    return 0
  elif height==1:
    return 8
  else:
    return 5+hocBuilder(height-1)
height=int(input("enter: "))
print(hocBuilder(height))

enter: 4
23

In [10]:
# 4(a)

def pattern(n,l=str(1)):
  if n>0:
    print(l)
    l+=" "+str(int(l[-1])+1)
    pattern(n-1,l)
pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
# 4(b)

def temp(k,i):
    if i<=k:
        print(i, end="")
        temp(k,i+1)

def pattern2(n,l=5):
    x=n-1
    if n>0:
        print(" "*x, end="")
        y=l-x 
        temp(y, 1)
        print()
        pattern2(n-1,l)
pattern2(5)

    1
   12
  123
 1234
12345

In [12]:
# 5

class FinalQ:
    def print(self,array,idx):
        if(idx < len(array)):
            profit = self.calcProfit(array[idx])
            print("Investment:",array[idx],"Profit:",profit)
            self.print(array,idx+1)

    def calcProfit(self,investment):
        if investment<=25000:
          return 0.0
        elif investment>25000 and investment<=100000:
          return 45 + self.calcProfit(investment-1000)
        else:
          return 80 + self.calcProfit(investment-1000)

array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

Investment: 25000 Profit: 0.0
Investment: 100000 Profit: 3375.0
Investment: 250000 Profit: 15375.0
Investment: 350000 Profit: 23375.0